Repository wrf-model/WPS, pull requests merged in 2023-01, with the labels that each got.

#212 Add -h/--help options to the 'configure' script
  configure
Labels: enhancement

#216 Support 9-character variable names in ungrib
  ungrib/src/new_storage.F
  ungrib/src/output.F
Labels: enhancement, ungrib

#210 Adds GFS total column ozone field to metgrid table and creates new Vtable with GFS ozone field.
  metgrid/METGRID.TBL.ARW
  ungrib/Variable_Tables/Vtable.GFS_OZONE
Labels: enhancement, ungrib, metgrid

#214 add global LCZ entry to GEOGRID.TBL
  geogrid/GEOGRID.TBL.ARW_LCZ
Labels: enhancement, geogrid
